*.pyc
**/__pycache__/
*~
readonly/*
# pycharm
.idea/
# vscode
.vscode/
# visualstudio
.vs/
# venv
venv/

#config
.env
assets/
config.py

#emacs
[#]*[#]

# sql data dumps
*.sql

restart_from_channel.txt
assets/autoapprove_messages.json
