[Unit]
Description=Bot
After=multi-user.target
[Service]
WorkingDirectory=/home/mordor/Robo-VJ
User=mordor
Group=mordor
ExecStart=/home/mordor/venv/bin/python /home/mordor/Robo-VJ/launcher.py
Type=simple
Restart=always
RestartSec=20

[Install]
WantedBy=multi-user.target
