[Unit]
Description=Discord Bot
After=network-online.target
[Service]
WorkingDirectory=/home/ubuntu/Robo-VJ 
User=ubuntu
Group=ubuntu
ExecStart=/home/ubuntu/Robo-VJ/venv/bin/python launcher.py
Type=simple
Restart=always

[Install]
WantedBy=multi-user.target
