# Edit WorkingDirectory, User, Group and ExecStart to match your machine's username, group, python installation, working directory, and path to launcher.py

[Unit]
Description=Bot
After=multi-user.target
[Service]
WorkingDirectory=/home/mordor/Robo-VJ 
User=mordor
Group=mordor
ExecStart=/home/mordor/venv/bin/python /home/mordor/Robo-VJ/launcher.py
Type=simple
Restart=always
RestartSec=20

[Install]
WantedBy=multi-user.target
