git+https://github.com/Rapptz/discord.py@master
git+https://github.com/Rapptz/discord-ext-menus@master
git+https://github.com/darthshittious/d20@main
git+https://github.com/darthshittious/rusty-markov@main
git+https://github.com/darthshittious/py-bottom@main
asyncpg>=0.21.0
Pillow>=8.0.1
PTable>=0.9.2
python-dateutil~=2.8.1
python-dotenv
parsedatetime~=2.6
psutil~=5.7.3
lru_dict
pygit2~=1.4.0
lxml~=4.6.2
click~=7.1.2
akinator.py[async]
tweepy~=3.9.0
pyowm~=3.1.1
treys~=0.1.3
pydealer~=1.4.0
pygost~=5.2
cryptography
mystbin.py
fuzzywuzzy~=0.18.0
pytz~=2020.4
Wavelink~=0.9.6
buttons~=0.1.9
spotify~=0.10.2
beautifulsoup4~=4.9.3
sphinx~=3.3.1
requests~=2.25.0
markdownify~=0.5.3
pyYAML~=5.3.1
python-Levenshtein
currencyconverter
chess
py-cpuinfo
cairosvg
more-itertools
tabulate
inflect
numpy
imageio
matplotlib
pandas
numexpr
seaborn
sympy
googletrans==3.1.0a0
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
emoji
pycountry
dblpy

jishaku @ git+https://github.com/darthshittious/jishaku
