git+https://github.com/Rapptz/discord.py@master
git+https://github.com/Rapptz/discord-ext-menus@master
git+https://github.com/darthshittious/d20@main
git+https://github.com/darthshittious/rusty-markov@main
git+https://github.com/darthshittious/py-bottom@main
asyncpg
Pillow
PTable
python-dateutil
python-dotenv
parsedatetime
psutil
lru_dict
pygit2
lxml
click
akinator.py[async]
tweepy
pyowm
treys
pydealer
pygost
cryptography
mystbin.py
fuzzywuzzy
pytz
Wavelink
buttons
spotify
beautifulsoup4
sphinx
requests
markdownify
pyYAML
python-Levenshtein
currencyconverter
chess
py-cpuinfo
cairosvg
more-itertools
tabulate
inflect
numpy
imageio
matplotlib
pandas
numexpr
seaborn
sympy
googletrans==3.1.0a0
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
emoji
pycountry
dblpy
feedparser
pykakasi

jishaku @ git+https://github.com/darthshittious/jishaku
